.brandname{
 	font-family: "Kaushan Script", cursive;
}

.jumbotron-con {
	 font-family: 'Kaushan Script', cursive;
}
body {
    background: #f5d9d5;
    font-family: 'Annie Use Your Telescope', cursive;
}


.outline-color{
	color:#ff6699;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #e6e6ff;
}

.bg-col{
  background-color: #800080;
}
