<!DOCTYPE html>
<html>
{% load  staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
    <title>Login</title>
   
<body>

   


    <form action="." method="POST" name="form1">
       
        {% csrf_token %}
   <h1>Log In Here</h1>
        <div>
        <div>Account：<input type="text" name="username" id="username" /></div>
        <div>Password：<input type="password" name="password" id="password" /></div>
        <div>
            <input type="submit" name="button" id="button" value="Login" />
            <button type="button" onclick="location.href='/register_t/'">Register</button>
            <button type="button" onclick="location.href='/'">Home page</button>
           
         </div>
    </form>
    <span style="color: pink">{{message}}</span>
 
</body>
</html>